<Type Name="XamlTypeMapper" FullName="System.Windows.Markup.XamlTypeMapper">
  <Metadata>
    <Meta Name="ms.openlocfilehash" Value="c259d235280775593e9afd989337c825144be725" />
    <Meta Name="ms.sourcegitcommit" Value="5a49536d99d2d0b54e4cb7280870903e043272df" />
    <Meta Name="ms.translationtype" Value="MT" />
    <Meta Name="ms.contentlocale" Value="pl-PL" />
    <Meta Name="ms.lasthandoff" Value="07/03/2018" />
    <Meta Name="ms.locfileid" Value="37502441" />
  </Metadata>
  <TypeSignature Language="C#" Value="public class XamlTypeMapper" />
  <TypeSignature Language="ILAsm" Value=".class public auto ansi beforefieldinit XamlTypeMapper extends System.Object" />
  <TypeSignature Language="DocId" Value="T:System.Windows.Markup.XamlTypeMapper" />
  <TypeSignature Language="VB.NET" Value="Public Class XamlTypeMapper" />
  <TypeSignature Language="C++ CLI" Value="public ref class XamlTypeMapper" />
  <TypeSignature Language="F#" Value="type XamlTypeMapper = class" />
  <AssemblyInfo>
    <AssemblyName>PresentationFramework</AssemblyName>
    <AssemblyVersion>3.0.0.0</AssemblyVersion>
    <AssemblyVersion>4.0.0.0</AssemblyVersion>
  </AssemblyInfo>
  <Base>
    <BaseTypeName>System.Object</BaseTypeName>
  </Base>
  <Interfaces />
  <Docs>
    <summary>Mapuje nazwy elementu XAML odpowiednie środowisko CLR <see cref="T:System.Type" /> w zestawach.</summary>
    <remarks>
      <format type="text/markdown"><![CDATA[  
  
## Remarks  
 <xref:System.Windows.Markup.XamlTypeMapper> jest częścią zaawansowanym scenariuszu WPF, który dostarcza alternatywnej kontekst dla <xref:System.Windows.Markup.XamlReader> i <xref:System.Windows.Markup.XamlWriter>. Aby uzyskać [!INCLUDE[net_v40_short](~/includes/net-v40-short-md.md)] aplikacji WPF, należy rozważyć zastępowanie <xref:System.Xaml.XamlSchemaContext> dla tego scenariusza, a nie podjęto próbę użycia <xref:System.Windows.Markup.XamlTypeMapper>.  
  
 <xref:System.Windows.Markup.XamlTypeMapper> może służyć do zapewnienia analizatora XAML przy użyciu informacji o mapowaniu niestandardowych przy użyciu bardziej bezpośrednie technika niż stosowania <xref:System.Windows.Markup.XmlnsDefinitionAttribute> wartości na kod zestawu. Może to być przydatne do konsolidacji wszystkich przestrzeni nazw CLR w zestawie lub do odwoływania się do typów, które są gotowe do XAML w istniejącego zestawu bez konieczności ponownego kompilowania go tak, aby dodać <xref:System.Windows.Markup.XmlnsDefinitionAttribute> przypisywanie.  
  
 Zwykle tworzysz <xref:System.Windows.Markup.XamlTypeMapper> wystąpienia, aby określić <xref:System.Windows.Markup.ParserContext.XamlTypeMapper%2A> wartości właściwości dla <xref:System.Windows.Markup.ParserContext>. <xref:System.Windows.Markup.ParserContext> z kolei mogą być używane jako kontekst <xref:System.Windows.Markup.XamlReader.Load%28System.IO.Stream%2CSystem.Windows.Markup.ParserContext%29?displayProperty=nameWithType> wywołania.  
  
## <a name="default-mapper"></a>Domyślne mapowania  
 Można uzyskać domyślnego mapowania, za pomocą <xref:System.Windows.Markup.XamlTypeMapper.DefaultMapper%2A> właściwość statyczna. Mapowania domyślne działa tylko na domyślnej listy zestawu. Nie określone informacje na temat zestawów (jak określono w <xref:System.Windows.Markup.XamlTypeMapper> konstruktory) jest używany.  
  
 ]]></format>
    </remarks>
    <altmember cref="T:System.Windows.Markup.NamespaceMapEntry" />
    <altmember cref="T:System.Windows.Markup.ParserContext" />
  </Docs>
  <Members>
    <MemberGroup MemberName=".ctor">
      <AssemblyInfo>
        <AssemblyName>PresentationFramework</AssemblyName>
        <AssemblyVersion>4.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Docs>
        <summary>Inicjuje nowe wystąpienie klasy <see cref="T:System.Windows.Markup.XamlTypeMapper" /> klasy.</summary>
      </Docs>
    </MemberGroup>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="public XamlTypeMapper (string[] assemblyNames);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig specialname rtspecialname instance void .ctor(string[] assemblyNames) cil managed" />
      <MemberSignature Language="DocId" Value="M:System.Windows.Markup.XamlTypeMapper.#ctor(System.String[])" />
      <MemberSignature Language="VB.NET" Value="Public Sub New (assemblyNames As String())" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; XamlTypeMapper(cli::array &lt;System::String ^&gt; ^ assemblyNames);" />
      <MemberSignature Language="F#" Value="new System.Windows.Markup.XamlTypeMapper : string[] -&gt; System.Windows.Markup.XamlTypeMapper" Usage="new System.Windows.Markup.XamlTypeMapper assemblyNames" />
      <MemberType>Constructor</MemberType>
      <AssemblyInfo>
        <AssemblyName>PresentationFramework</AssemblyName>
        <AssemblyVersion>3.0.0.0</AssemblyVersion>
        <AssemblyVersion>4.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Parameters>
        <Parameter Name="assemblyNames" Type="System.String[]" />
      </Parameters>
      <Docs>
        <param name="assemblyNames">Tablica nazw zestawów <see cref="T:System.Windows.Markup.XamlTypeMapper" /> należy użyć.</param>
        <summary>Inicjuje nowe wystąpienie klasy <see cref="T:System.Windows.Markup.XamlTypeMapper" /> nazwy klasy, określając szereg zestawu, który <see cref="T:System.Windows.Markup.XamlTypeMapper" /> należy użyć.</summary>
        <remarks>To be added.</remarks>
        <exception cref="T:System.ArgumentNullException">
          <paramref name="assemblyNames" /> jest <see langword="null" />.</exception>
      </Docs>
    </Member>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="public XamlTypeMapper (string[] assemblyNames, System.Windows.Markup.NamespaceMapEntry[] namespaceMaps);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig specialname rtspecialname instance void .ctor(string[] assemblyNames, class System.Windows.Markup.NamespaceMapEntry[] namespaceMaps) cil managed" />
      <MemberSignature Language="DocId" Value="M:System.Windows.Markup.XamlTypeMapper.#ctor(System.String[],System.Windows.Markup.NamespaceMapEntry[])" />
      <MemberSignature Language="VB.NET" Value="Public Sub New (assemblyNames As String(), namespaceMaps As NamespaceMapEntry())" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; XamlTypeMapper(cli::array &lt;System::String ^&gt; ^ assemblyNames, cli::array &lt;System::Windows::Markup::NamespaceMapEntry ^&gt; ^ namespaceMaps);" />
      <MemberSignature Language="F#" Value="new System.Windows.Markup.XamlTypeMapper : string[] * System.Windows.Markup.NamespaceMapEntry[] -&gt; System.Windows.Markup.XamlTypeMapper" Usage="new System.Windows.Markup.XamlTypeMapper (assemblyNames, namespaceMaps)" />
      <MemberType>Constructor</MemberType>
      <AssemblyInfo>
        <AssemblyName>PresentationFramework</AssemblyName>
        <AssemblyVersion>3.0.0.0</AssemblyVersion>
        <AssemblyVersion>4.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Parameters>
        <Parameter Name="assemblyNames" Type="System.String[]" />
        <Parameter Name="namespaceMaps" Type="System.Windows.Markup.NamespaceMapEntry[]" />
      </Parameters>
      <Docs>
        <param name="assemblyNames">Tablica nazw zestawów <see cref="T:System.Windows.Markup.XamlTypeMapper" /> należy użyć.</param>
        <param name="namespaceMaps">Tablica mapowania przestrzeni nazw <see cref="T:System.Windows.Markup.XamlTypeMapper" /> należy użyć.</param>
        <summary>Inicjuje nowe wystąpienie klasy <see cref="T:System.Windows.Markup.XamlTypeMapper" /> klasy przy użyciu określonej tablicy nazwy zestawów i mapuje określonego obszaru nazw.</summary>
        <remarks>To be added.</remarks>
        <exception cref="T:System.ArgumentNullException">
          <paramref name="assemblyNames" /> jest <see langword="null" />.</exception>
      </Docs>
    </Member>
    <Member MemberName="AddMappingProcessingInstruction">
      <MemberSignature Language="C#" Value="public void AddMappingProcessingInstruction (string xmlNamespace, string clrNamespace, string assemblyName);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance void AddMappingProcessingInstruction(string xmlNamespace, string clrNamespace, string assemblyName) cil managed" />
      <MemberSignature Language="DocId" Value="M:System.Windows.Markup.XamlTypeMapper.AddMappingProcessingInstruction(System.String,System.String,System.String)" />
      <MemberSignature Language="VB.NET" Value="Public Sub AddMappingProcessingInstruction (xmlNamespace As String, clrNamespace As String, assemblyName As String)" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; void AddMappingProcessingInstruction(System::String ^ xmlNamespace, System::String ^ clrNamespace, System::String ^ assemblyName);" />
      <MemberSignature Language="F#" Value="member this.AddMappingProcessingInstruction : string * string * string -&gt; unit" Usage="xamlTypeMapper.AddMappingProcessingInstruction (xmlNamespace, clrNamespace, assemblyName)" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyName>PresentationFramework</AssemblyName>
        <AssemblyVersion>3.0.0.0</AssemblyVersion>
        <AssemblyVersion>4.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="xmlNamespace" Type="System.String" />
        <Parameter Name="clrNamespace" Type="System.String" />
        <Parameter Name="assemblyName" Type="System.String" />
      </Parameters>
      <Docs>
        <param name="xmlNamespace">Prefiks przestrzeni nazw XML...</param>
        <param name="clrNamespace">Przestrzeń nazw środowiska CLR, który zawiera typy do mapowania.</param>
        <param name="assemblyName">Zestaw, który zawiera przestrzeń nazw środowiska CLR.</param>
        <summary>Definiuje mapowanie między przestrzeni nazw XML i przestrzenie nazw środowiska CLR w zestawach i dodaje je do <see cref="T:System.Windows.Markup.XamlTypeMapper" /> informacji.</summary>
        <remarks>
          <format type="text/markdown"><![CDATA[  
  
## Remarks  
 <xref:System.Windows.Markup.XamlTypeMapper.AddMappingProcessingInstruction%2A> to programowy sposób dodać mapowanie.  Na przykład różne części następująca instrukcja mapowania XAML odpowiadają parametrom <xref:System.Windows.Markup.XamlTypeMapper.AddMappingProcessingInstruction%2A>:  
  
```  
<Window xmlns:SDK="clr-namespace:Samples;assembly=SDKSamples">  
...  
```  
  
 `xmlNamespace` Jest `SDK`, `clrNamespace` jest `Samples`i `assemblyName` jest `SDKSamples`.  
  
 ]]></format>
        </remarks>
        <exception cref="T:System.ArgumentNullException">
          <paramref name="xmlNamespace" /> jest <see langword="null" /> - lub - <paramref name="clrNamespace" /> jest <see langword="null" /> - lub - <paramref name="assemblyName" /> jest <see langword="null" />.</exception>
      </Docs>
    </Member>
    <Member MemberName="AllowInternalType">
      <MemberSignature Language="C#" Value="protected virtual bool AllowInternalType (Type type);" />
      <MemberSignature Language="ILAsm" Value=".method familyhidebysig newslot virtual instance bool AllowInternalType(class System.Type type) cil managed" />
      <MemberSignature Language="DocId" Value="M:System.Windows.Markup.XamlTypeMapper.AllowInternalType(System.Type)" />
      <MemberSignature Language="C++ CLI" Value="protected:&#xA; virtual bool AllowInternalType(Type ^ type);" />
      <MemberSignature Language="F#" Value="abstract member AllowInternalType : Type -&gt; bool&#xA;override this.AllowInternalType : Type -&gt; bool" Usage="xamlTypeMapper.AllowInternalType type" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyName>PresentationFramework</AssemblyName>
        <AssemblyVersion>3.0.0.0</AssemblyVersion>
        <AssemblyVersion>4.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Boolean</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="type" Type="System.Type" />
      </Parameters>
      <Docs>
        <param name="type">Typ do uzyskania dostępu.</param>
        <summary>Żąda uprawnienia dla <see cref="T:System.Windows.Markup.XamlTypeMapper" /> typu, która jest wywoływana w ramach pełnego zaufania, uzyskiwać dostęp do określonego typu wewnętrznego pochodnego.</summary>
        <returns>
          <see langword="true" /> Jeśli dostępny jest wewnętrzny typ; w przeciwnym razie <see langword="false" />.</returns>
        <remarks>
          <format type="text/markdown"><![CDATA[  
  
## Remarks  
 Jeśli nie jest przesłonięty przez podklasę, <xref:System.Windows.Markup.XamlTypeMapper.AllowInternalType%2A> zawsze zwraca `false`.  
  
 Gdy przesłonięty przez podklasę, zachowanie powinien odpowiadać <xref:System.Windows.Markup.XamlTypeMapper.AllowInternalType%2A> powinna zwrócić `true` jeśli wewnętrzny typ może być używane; w przeciwnym razie `false`.  
  
 ]]></format>
        </remarks>
      </Docs>
    </Member>
    <Member MemberName="DefaultMapper">
      <MemberSignature Language="C#" Value="public static System.Windows.Markup.XamlTypeMapper DefaultMapper { get; }" />
      <MemberSignature Language="ILAsm" Value=".property class System.Windows.Markup.XamlTypeMapper DefaultMapper" />
      <MemberSignature Language="DocId" Value="P:System.Windows.Markup.XamlTypeMapper.DefaultMapper" />
      <MemberSignature Language="VB.NET" Value="Public Shared ReadOnly Property DefaultMapper As XamlTypeMapper" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; static property System::Windows::Markup::XamlTypeMapper ^ DefaultMapper { System::Windows::Markup::XamlTypeMapper ^ get(); };" />
      <MemberSignature Language="F#" Value="member this.DefaultMapper : System.Windows.Markup.XamlTypeMapper" Usage="System.Windows.Markup.XamlTypeMapper.DefaultMapper" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>PresentationFramework</AssemblyName>
        <AssemblyVersion>3.0.0.0</AssemblyVersion>
        <AssemblyVersion>4.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Windows.Markup.XamlTypeMapper</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>Pobiera wystąpienie elementu <see cref="T:System.Windows.Markup.XamlTypeMapper" /> do użycia, jeśli nie zostało określone.</summary>
        <value>Mapowania typ domyślny.</value>
        <remarks>
          <format type="text/markdown"><![CDATA[  
  
## Remarks  
 Mapowania domyślne działa tylko na domyślnej listy zestawu. Nie określone informacje na temat zestawów (jak określono w <xref:System.Windows.Markup.XamlTypeMapper> konstruktory) jest używany. W bieżącej implementacji domyślnej listy zestawu jest: `WindowsBase`, `PresentationCore`, `PresentationFramework`.  
  
 Za pomocą mapowania domyślny nie oznacza, że nie można użyć niestandardowych zestawów/typy w XAML na wszystkich. Oznacza jedynie, że jeśli używasz niestandardowych typów/zestawów, należy uruchomić konwencjonalne technika XAML tworząc mapowania jako `xmlns` atrybutów w każdej strony XAML, gdzie typy/zestawy są określone, w przeciwieństwie do mapowania typu interfejsu API. Aby uzyskać więcej informacji, zobacz [przestrzeni nazw XAML i Namespace mapowania dla WPF XAML](~/docs/framework/wpf/advanced/xaml-namespaces-and-namespace-mapping-for-wpf-xaml.md).  
  
 ]]></format>
        </remarks>
      </Docs>
    </Member>
    <Member MemberName="GetType">
      <MemberSignature Language="C#" Value="public Type GetType (string xmlNamespace, string localName);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance class System.Type GetType(string xmlNamespace, string localName) cil managed" />
      <MemberSignature Language="DocId" Value="M:System.Windows.Markup.XamlTypeMapper.GetType(System.String,System.String)" />
      <MemberSignature Language="VB.NET" Value="Public Function GetType (xmlNamespace As String, localName As String) As Type" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; Type ^ GetType(System::String ^ xmlNamespace, System::String ^ localName);" />
      <MemberSignature Language="F#" Value="override this.GetType : string * string -&gt; Type" Usage="xamlTypeMapper.GetType (xmlNamespace, localName)" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyName>PresentationFramework</AssemblyName>
        <AssemblyVersion>3.0.0.0</AssemblyVersion>
        <AssemblyVersion>4.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Type</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="xmlNamespace" Type="System.String" />
        <Parameter Name="localName" Type="System.String" />
      </Parameters>
      <Docs>
        <param name="xmlNamespace">Określony prefiks przestrzeni nazw XML.</param>
        <param name="localName">"Local" Nazwa elementu XAML można uzyskać zamapowanego <see cref="T:System.Type" /> dla. Lokalny w tym kontekście oznacza mapowane w porównaniu z podanych <c>xmlNamespace</c>.</param>
        <summary>Pobiera środowisko CLR <see cref="T:System.Type" /> zamapowanego danego elementu XAML, przy użyciu określonego obszaru nazw prefiksu i elementu nazwa XML.</summary>
        <returns>
          <see cref="T:System.Type" /> Dla obiektu, lub <see langword="null" /> Jeśli mapowanie nie mogą zostać rozpoznane.</returns>
        <remarks>
          <format type="text/markdown"><![CDATA[  
  
## Remarks  
 Jeśli nie można odnaleźć typu, która jest mapowana do podanych informacji, `null` jest zwracana.  
  
 Nie dołączaj prefiksu w ramach `localName`. Dla dowolnego prefiks informacje o elemencie XAML, oddziel je do `xmlNamespace` i `localName` składników dla tego wywołania interfejsu API.  
  
 ]]></format>
        </remarks>
        <exception cref="T:System.ArgumentNullException">
          <paramref name="xmlNamespace" /> jest <see langword="null" /> - lub - <paramref name="localName" /> jest <see langword="null" />.</exception>
        <altmember cref="T:System.Windows.Markup.IXamlTypeResolver" />
      </Docs>
    </Member>
    <Member MemberName="SetAssemblyPath">
      <MemberSignature Language="C#" Value="public void SetAssemblyPath (string assemblyName, string assemblyPath);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance void SetAssemblyPath(string assemblyName, string assemblyPath) cil managed" />
      <MemberSignature Language="DocId" Value="M:System.Windows.Markup.XamlTypeMapper.SetAssemblyPath(System.String,System.String)" />
      <MemberSignature Language="VB.NET" Value="Public Sub SetAssemblyPath (assemblyName As String, assemblyPath As String)" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; void SetAssemblyPath(System::String ^ assemblyName, System::String ^ assemblyPath);" />
      <MemberSignature Language="F#" Value="member this.SetAssemblyPath : string * string -&gt; unit" Usage="xamlTypeMapper.SetAssemblyPath (assemblyName, assemblyPath)" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyName>PresentationFramework</AssemblyName>
        <AssemblyVersion>3.0.0.0</AssemblyVersion>
        <AssemblyVersion>4.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="assemblyName" Type="System.String" />
        <Parameter Name="assemblyPath" Type="System.String" />
      </Parameters>
      <Docs>
        <param name="assemblyName">Krótka nazwa zestawu bez rozszerzenia lub określonej ścieżki (równoważne <see cref="P:System.Reflection.AssemblyName.Name" />).</param>
        <param name="assemblyPath">Ścieżka pliku zestawu. Ścieżka zestawu musi być pełną ścieżkę pliku zawierającego rozszerzenie pliku.</param>
        <summary>Określa ścieżkę do użycia podczas ładowania zestawu.</summary>
        <remarks>To be added.</remarks>
        <exception cref="T:System.ArgumentNullException">
          <paramref name="assemblyName" /> jest <see langword="null" /> - lub - <paramref name="assemblyPath" /> jest <see langword="null" />.</exception>
        <exception cref="T:System.Windows.Markup.XamlParseException">
          <paramref name="assemblyName" /> jest <see cref="F:System.String.Empty" /> - lub - <paramref name="assemblyPath" /> jest <see cref="F:System.String.Empty" /> - lub - <paramref name="assemblyPath" /> nie jest pełną ścieżkę pliku zawierającego rozszerzenie pliku.</exception>
      </Docs>
    </Member>
  </Members>
</Type>