<?xml version="1.0" encoding="utf-8"?>
<xliff xmlns="urn:oasis:names:tc:xliff:document:1.2" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="1.2" xsi:schemaLocation="urn:oasis:names:tc:xliff:document:1.2 xliff-core-1.2-transitional.xsd">
  <file datatype="xml" original="ApplicationContext.xml" source-language="en-US" target-language="pl-PL">
    <header>
      <tool tool-id="mdxliff" tool-name="mdxliff" tool-version="1.0-15c36f0" tool-company="Microsoft" />
      <xliffext:skl_file_name xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">02cd5861-7ce2-4a82-b358-31f8435a0ac5170527b2b9bd8d0b547499e1581bacb86fb5c8bd.skl</xliffext:skl_file_name>
      <xliffext:version xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">1.2</xliffext:version>
      <xliffext:ms.openlocfilehash xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">170527b2b9bd8d0b547499e1581bacb86fb5c8bd</xliffext:ms.openlocfilehash>
      <xliffext:ms.sourcegitcommit xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">d31dc2ede16f6f7bc64e90d9f897ff54c4e3869b</xliffext:ms.sourcegitcommit>
      <xliffext:ms.lasthandoff xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">04/03/2018</xliffext:ms.lasthandoff>
      <xliffext:moniker_ids xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">netframework-4.5.1,netframework-4.5.2,netframework-4.5,netframework-4.6.1,netframework-4.6.2,netframework-4.6,netframework-4.7.1,netframework-4.7</xliffext:moniker_ids>
    </header>
    <body>
      <group id="content" extype="content">
        <trans-unit id="101" translate="yes" xml:space="preserve" uid="T:System.Windows.Forms.ApplicationContext">
          <source>Specifies the contextual information about an application thread.</source>
          <target state="translated">Określa informacje kontekstowe o wątku aplikacji.</target>       </trans-unit>
        <trans-unit id="102" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Forms.ApplicationContext">
          <source>You can use the <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph> class to redefine the circumstances that cause a message loop to exit.</source>
          <target state="translated">Można użyć <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph> klasy do ponownego zdefiniowania okoliczności powodujących pętli komunikatów zakończyć.</target>       </trans-unit>
        <trans-unit id="103" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Forms.ApplicationContext">
          <source>By default, the <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph> listens to the <ph id="ph2">&lt;xref:System.Windows.Forms.Form.Closed&gt;</ph> event on the application's main <ph id="ph3">&lt;xref:System.Windows.Forms.Form&gt;</ph>, then exits the thread's message loop.</source>
          <target state="translated">Domyślnie <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph> nasłuchuje <ph id="ph2">&lt;xref:System.Windows.Forms.Form.Closed&gt;</ph> zdarzenia w aplikacji użytkownika głównego <ph id="ph3">&lt;xref:System.Windows.Forms.Form&gt;</ph>, następnie kończy tryb pętli komunikatów wątku.</target>       </trans-unit>
        <trans-unit id="104" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Forms.ApplicationContext">
          <source>The following code example displays two forms and exits the application when both forms are closed.</source>
          <target state="translated">Poniższy przykładowy kod przedstawia dwa formularze i zamyka aplikację, gdy oba formularze są zamknięte.</target>       </trans-unit>
        <trans-unit id="105" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Forms.ApplicationContext">
          <source>When the application starts and exits, the position of each form is remembered.</source>
          <target state="translated">Gdy aplikacja rozpoczyna się i kończy działanie, jest zapamiętany pozycji każdego formularza.</target>       </trans-unit>
        <trans-unit id="106" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Forms.ApplicationContext">
          <source>This example demonstrates how to use an <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph>, along with the <ph id="ph2">`Application.Run(context)`</ph> method, to display multiple forms when the application starts.</source>
          <target state="translated">W tym przykładzie przedstawiono sposób użycia <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph>, wraz z <ph id="ph2">`Application.Run(context)`</ph> metody, aby wyświetlić wielu formularzy podczas uruchamiania aplikacji.</target>       </trans-unit>
        <trans-unit id="107" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Forms.ApplicationContext">
          <source>The class <ph id="ph1">`MyApplicationContext`</ph> inherits from <ph id="ph2">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph> and keeps track when each form is closed, and exits the current thread when they both are.</source>
          <target state="translated">Klasa <ph id="ph1">`MyApplicationContext`</ph> dziedziczy <ph id="ph2">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph> i śledzi informacje podczas każdego formularza jest zamknięty i kończy działanie bieżącego wątku, gdy są one obu.</target>       </trans-unit>
        <trans-unit id="108" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Forms.ApplicationContext">
          <source>The class stores the positions of each form for the user.</source>
          <target state="translated">Klasa przechowuje pozycji każdego formularza dla użytkownika.</target>       </trans-unit>
        <trans-unit id="109" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Forms.ApplicationContext">
          <source>The form position data is stored in a file titled <ph id="ph1">`Appdata.txt`</ph> that is created in the location determined by <ph id="ph2">&lt;xref:System.Windows.Forms.Application.UserAppDataPath%2A&gt;</ph>.</source>
          <target state="translated">Dane położenie formularza są przechowywane w pliku zatytułowany <ph id="ph1">`Appdata.txt`</ph> utworzonego w lokalizacji ustaleniami <ph id="ph2">&lt;xref:System.Windows.Forms.Application.UserAppDataPath%2A&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="110" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Forms.ApplicationContext">
          <source>The <ph id="ph1">`Main`</ph> method calls <ph id="ph2">`Application.Run(context)`</ph> to start the application, given the <ph id="ph3">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph>.</source>
          <target state="translated"><ph id="ph1">`Main`</ph> Wywołania metody <ph id="ph2">`Application.Run(context)`</ph> można uruchomić aplikacji, podanych <ph id="ph3">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="111" translate="yes" xml:space="preserve" uid="T:System.Windows.Forms.ApplicationContext">
          <source>Initializes a new instance of the <ph id="ph1">&lt;see cref="T:System.Windows.Forms.ApplicationContext" /&gt;</ph> class.</source>
          <target state="translated">Inicjuje nowe wystąpienie klasy <ph id="ph1">&lt;see cref="T:System.Windows.Forms.ApplicationContext" /&gt;</ph> klasy.</target>       </trans-unit>
        <trans-unit id="112" translate="yes" xml:space="preserve" uid="M:System.Windows.Forms.ApplicationContext.#ctor">
          <source>Initializes a new instance of the <ph id="ph1">&lt;see cref="T:System.Windows.Forms.ApplicationContext" /&gt;</ph> class with no context.</source>
          <target state="translated">Inicjuje nowe wystąpienie klasy <ph id="ph1">&lt;see cref="T:System.Windows.Forms.ApplicationContext" /&gt;</ph> klasy z żadnego kontekstu.</target>       </trans-unit>
        <trans-unit id="113" translate="yes" xml:space="preserve" uid="M:System.Windows.Forms.ApplicationContext.#ctor(System.Windows.Forms.Form)">
          <source>The main <ph id="ph1">&lt;see cref="T:System.Windows.Forms.Form" /&gt;</ph> of the application to use for context.</source>
          <target state="translated">Głównym <ph id="ph1">&lt;see cref="T:System.Windows.Forms.Form" /&gt;</ph> aplikacji do użycia dla kontekstu.</target>       </trans-unit>
        <trans-unit id="114" translate="yes" xml:space="preserve" uid="M:System.Windows.Forms.ApplicationContext.#ctor(System.Windows.Forms.Form)">
          <source>Initializes a new instance of the <ph id="ph1">&lt;see cref="T:System.Windows.Forms.ApplicationContext" /&gt;</ph> class with the specified <ph id="ph2">&lt;see cref="T:System.Windows.Forms.Form" /&gt;</ph>.</source>
          <target state="translated">Inicjuje nowe wystąpienie klasy <ph id="ph1">&lt;see cref="T:System.Windows.Forms.ApplicationContext" /&gt;</ph> klasy z określonym <ph id="ph2">&lt;see cref="T:System.Windows.Forms.Form" /&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="115" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.#ctor(System.Windows.Forms.Form)">
          <source>If <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.OnMainFormClosed%2A&gt;</ph> is not overridden, the message loop of the thread terminates when <ph id="ph2">&lt;xref:System.Windows.Forms.ApplicationContext.MainForm%2A&gt;</ph> is closed.</source>
          <target state="translated">Jeśli <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.OnMainFormClosed%2A&gt;</ph> jest nie została zastąpiona, pętli komunikatów wątku kończy kiedy <ph id="ph2">&lt;xref:System.Windows.Forms.ApplicationContext.MainForm%2A&gt;</ph> jest zamknięty.</target>       </trans-unit>
        <trans-unit id="116" translate="yes" xml:space="preserve" uid="T:System.Windows.Forms.ApplicationContext">
          <source>Releases the resources used by the <ph id="ph1">&lt;see cref="T:System.Windows.Forms.ApplicationContext" /&gt;</ph>.</source>
          <target state="translated">Zwalnia zasoby używane przez <ph id="ph1">&lt;see cref="T:System.Windows.Forms.ApplicationContext" /&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="117" translate="yes" xml:space="preserve" uid="M:System.Windows.Forms.ApplicationContext.Dispose">
          <source>Releases all resources used by the <ph id="ph1">&lt;see cref="T:System.Windows.Forms.ApplicationContext" /&gt;</ph>.</source>
          <target state="translated">Zwalnia wszelkie zasoby używane przez <ph id="ph1">&lt;see cref="T:System.Windows.Forms.ApplicationContext" /&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="118" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.Dispose">
          <source>Call <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.Dispose&gt;</ph> when you are finished using the <ph id="ph2">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph>.</source>
          <target state="translated">Wywołanie <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.Dispose&gt;</ph> po zakończeniu przy użyciu <ph id="ph2">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="119" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.Dispose">
          <source>The <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.Dispose&gt;</ph> method leaves the <ph id="ph2">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph> in an unusable state.</source>
          <target state="translated"><ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.Dispose&gt;</ph> Pozostawia metody <ph id="ph2">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph> w stanie uniemożliwiającym jego używanie.</target>       </trans-unit>
        <trans-unit id="120" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.Dispose">
          <source>After calling <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.Dispose&gt;</ph>, you must release all references to the <ph id="ph2">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph> so the garbage collector can reclaim the memory that the <ph id="ph3">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph> was occupying.</source>
          <target state="translated">Po wywołaniu <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.Dispose&gt;</ph>, konieczne jest zwolnienie wszystkich odwołań do <ph id="ph2">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph> , moduł zbierający elementy bezużyteczne mógł odzyskać pamięć który <ph id="ph3">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph> klasy.</target>       </trans-unit>
        <trans-unit id="121" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.Dispose">
          <source>For more information, see <bpt id="p1">[</bpt>Cleaning Up Unmanaged Resources<ept id="p1">](~/docs/standard/garbage-collection/unmanaged.md)</ept> and <bpt id="p2">[</bpt>Implementing a Dispose Method<ept id="p2">](~/docs/standard/garbage-collection/implementing-dispose.md)</ept>.</source>
          <target state="translated">Aby uzyskać więcej informacji, zobacz <bpt id="p1">[</bpt>czyszczenie zasobów niezarządzanych<ept id="p1">](~/docs/standard/garbage-collection/unmanaged.md)</ept> i <bpt id="p2">[</bpt>implementacja metody Dispose<ept id="p2">](~/docs/standard/garbage-collection/implementing-dispose.md)</ept>.</target>       </trans-unit>
        <trans-unit id="122" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.Dispose">
          <source>Always call <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.Dispose&gt;</ph> before you release your last reference to the <ph id="ph2">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph>.</source>
          <target state="translated">Wywoływanie zawsze <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.Dispose&gt;</ph> przed zwolnieniem ostatniego odwołania do <ph id="ph2">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="123" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.Dispose">
          <source>Otherwise, the resources it is using will not be freed until the garbage collector calls the <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph> object's <ph id="ph2">`Finalize`</ph> method.</source>
          <target state="translated">W przeciwnym razie używa zasobów nie zostanie zwolniona do wywołania modułu zbierającego elementy bezużyteczne <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph> obiektu <ph id="ph2">`Finalize`</ph> metody.</target>       </trans-unit>
        <trans-unit id="124" translate="yes" xml:space="preserve" uid="M:System.Windows.Forms.ApplicationContext.Dispose(System.Boolean)">
          <source><ph id="ph1">&lt;see langword="true" /&gt;</ph> to release both managed and unmanaged resources; <ph id="ph2">&lt;see langword="false" /&gt;</ph> to release only unmanaged resources.</source>
          <target state="translated"><ph id="ph1">&lt;see langword="true" /&gt;</ph> Aby zwolnić zasoby zarządzane i niezarządzane; <ph id="ph2">&lt;see langword="false" /&gt;</ph> aby zwolnić tylko zasoby niezarządzane.</target>       </trans-unit>
        <trans-unit id="125" translate="yes" xml:space="preserve" uid="M:System.Windows.Forms.ApplicationContext.Dispose(System.Boolean)">
          <source>Releases the unmanaged resources used by the <ph id="ph1">&lt;see cref="T:System.Windows.Forms.ApplicationContext" /&gt;</ph> and optionally releases the managed resources.</source>
          <target state="translated">Zwalnia zasoby niezarządzane używane przez <ph id="ph1">&lt;see cref="T:System.Windows.Forms.ApplicationContext" /&gt;</ph> i opcjonalnie zwalnia zasoby zarządzane.</target>       </trans-unit>
        <trans-unit id="126" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.Dispose(System.Boolean)">
          <source>This method is called by the public <ph id="ph1">`Dispose()`</ph> method and the <ph id="ph2">&lt;xref:System.Object.Finalize%2A&gt;</ph> method.</source>
          <target state="translated">Ta metoda jest wywoływana przez metodę publiczną <ph id="ph1">`Dispose()`</ph> — metoda i <ph id="ph2">&lt;xref:System.Object.Finalize%2A&gt;</ph> metody.</target>       </trans-unit>
        <trans-unit id="127" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.Dispose(System.Boolean)">
          <source><ph id="ph1">`Dispose()`</ph> invokes the protected <ph id="ph2">&lt;xref:System.Windows.Forms.ApplicationContext.Dispose%28System.Boolean%29&gt;</ph> method with the <ph id="ph3">`disposing`</ph> parameter set to <ph id="ph4">`true`</ph>.</source>
          <target state="translated"><ph id="ph1">`Dispose()`</ph> wywołuje chronioną metodę <ph id="ph2">&lt;xref:System.Windows.Forms.ApplicationContext.Dispose%28System.Boolean%29&gt;</ph> metody z <ph id="ph3">`disposing`</ph> ustawiono parametr <ph id="ph4">`true`</ph>.</target>       </trans-unit>
        <trans-unit id="128" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.Dispose(System.Boolean)">
          <source><ph id="ph1">&lt;xref:System.Object.Finalize%2A&gt;</ph> invokes <ph id="ph2">`Dispose`</ph> with <ph id="ph3">`disposing`</ph> set to <ph id="ph4">`false`</ph>.</source>
          <target state="translated"><ph id="ph1">&lt;xref:System.Object.Finalize%2A&gt;</ph> wywołuje <ph id="ph2">`Dispose`</ph> z <ph id="ph3">`disposing`</ph> ustawioną <ph id="ph4">`false`</ph>.</target>       </trans-unit>
        <trans-unit id="129" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.Dispose(System.Boolean)">
          <source>When the <ph id="ph1">`disposing`</ph> parameter is true, this method releases all resources held by any managed objects that this <ph id="ph2">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph> references.</source>
          <target state="translated">Gdy <ph id="ph1">`disposing`</ph> parametr ma wartość true, ta metoda zwalnia wszystkie zasoby zajmowane przez wszelkie obiekty zarządzane przez to <ph id="ph2">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph> odwołania.</target>       </trans-unit>
        <trans-unit id="130" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.Dispose(System.Boolean)">
          <source>This method invokes the <ph id="ph1">`Dispose()`</ph> method of each referenced object.</source>
          <target state="translated">Ta metoda wywołuje <ph id="ph1">`Dispose()`</ph> metody każdego odwołuje się do obiektu.</target>       </trans-unit>
        <trans-unit id="131" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.Dispose(System.Boolean)">
          <source><ph id="ph1">&lt;see langword="Dispose" /&gt;</ph> can be called multiple times by other objects.</source>
          <target state="translated"><ph id="ph1">&lt;see langword="Dispose" /&gt;</ph> można wywoływać wielokrotnie przez inne obiekty.</target>       </trans-unit>
        <trans-unit id="132" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.Dispose(System.Boolean)">
          <source>When overriding <ph id="ph1">&lt;see langword="Dispose(Boolean)" /&gt;</ph>, be careful not to reference objects that have been previously disposed of in an earlier call to <ph id="ph2">&lt;see langword="Dispose" /&gt;</ph>.</source>
          <target state="translated">W przypadku przesłaniania <ph id="ph1">&lt;see langword="Dispose(Boolean)" /&gt;</ph>, nie odwołują się obiekty, które zostały wcześniej zlikwidowane w wywołaniu wcześniejszych <ph id="ph2">&lt;see langword="Dispose" /&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="133" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.Dispose(System.Boolean)">
          <source>For more information about how to implement <ph id="ph1">&lt;see langword="Dispose(Boolean)" /&gt;</ph>, see <bpt id="p1">[</bpt>Implementing a Dispose Method<ept id="p1">](~/docs/standard/garbage-collection/implementing-dispose.md)</ept>.</source>
          <target state="translated">Aby uzyskać więcej informacji na temat sposobu wdrażania <ph id="ph1">&lt;see langword="Dispose(Boolean)" /&gt;</ph>, zobacz <bpt id="p1">[</bpt>implementacja metody Dispose<ept id="p1">](~/docs/standard/garbage-collection/implementing-dispose.md)</ept>.</target>       </trans-unit>
        <trans-unit id="134" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.Dispose(System.Boolean)">
          <source>For more information about <ph id="ph1">&lt;see langword="Dispose" /&gt;</ph> and <ph id="ph2">&lt;see cref="M:System.Object.Finalize" /&gt;</ph>, see <bpt id="p1">[</bpt>Cleaning Up Unmanaged Resources<ept id="p1">](~/docs/standard/garbage-collection/unmanaged.md)</ept> and <bpt id="p2">[</bpt>Overriding the Finalize Method<ept id="p2">](http://msdn.microsoft.com/library/8026cb68-fe93-43fc-96c1-c09ad7d64cd3)</ept>.</source>
          <target state="translated">Aby uzyskać więcej informacji na temat <ph id="ph1">&lt;see langword="Dispose" /&gt;</ph> i <ph id="ph2">&lt;see cref="M:System.Object.Finalize" /&gt;</ph>, zobacz <bpt id="p1">[</bpt>czyszczenie zasobów niezarządzanych<ept id="p1">](~/docs/standard/garbage-collection/unmanaged.md)</ept> i <bpt id="p2">[</bpt>przesłaniania metody Finalize<ept id="p2">](http://msdn.microsoft.com/library/8026cb68-fe93-43fc-96c1-c09ad7d64cd3)</ept>.</target>       </trans-unit>
        <trans-unit id="135" translate="yes" xml:space="preserve" uid="M:System.Windows.Forms.ApplicationContext.ExitThread">
          <source>Terminates the message loop of the thread.</source>
          <target state="translated">Kończy pętlę komunikatów wątku.</target>       </trans-unit>
        <trans-unit id="136" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.ExitThread">
          <source>This method calls <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.ExitThreadCore%2A&gt;</ph>.</source>
          <target state="translated">Ta metoda wywołuje <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.ExitThreadCore%2A&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="137" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.ExitThread">
          <source><ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.ExitThread%2A&gt;</ph> and <ph id="ph2">&lt;xref:System.Windows.Forms.ApplicationContext.ExitThreadCore%2A&gt;</ph> do not actually cause the thread to terminate.</source>
          <target state="translated"><ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.ExitThread%2A&gt;</ph> i <ph id="ph2">&lt;xref:System.Windows.Forms.ApplicationContext.ExitThreadCore%2A&gt;</ph> czy rzeczywiście Przyczyna zakończenie wątku.</target>       </trans-unit>
        <trans-unit id="138" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.ExitThread">
          <source>These methods raise the <ph id="ph1">&lt;xref:System.Windows.Forms.Application.ThreadExit&gt;</ph> event to which the <ph id="ph2">&lt;xref:System.Windows.Forms.Application&gt;</ph> object listens.</source>
          <target state="translated">Wywoływanie metody te <ph id="ph1">&lt;xref:System.Windows.Forms.Application.ThreadExit&gt;</ph> zdarzeń, do którego <ph id="ph2">&lt;xref:System.Windows.Forms.Application&gt;</ph> obiekt odbiera.</target>       </trans-unit>
        <trans-unit id="139" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.ExitThread">
          <source>The <ph id="ph1">&lt;xref:System.Windows.Forms.Application&gt;</ph> object then terminates the thread.</source>
          <target state="translated"><ph id="ph1">&lt;xref:System.Windows.Forms.Application&gt;</ph> Obiektu następnie kończy wątku.</target>       </trans-unit>
        <trans-unit id="140" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.ExitThread">
          <source>The following code example is an excerpt from the example in the <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph> class overview.</source>
          <target state="translated">Poniższy przykładowy kod znajduje się fragment przykład <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph> Przegląd klasy.</target>       </trans-unit>
        <trans-unit id="141" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.ExitThread">
          <source>This example keeps track of open forms and exits the current thread when all forms are closed.</source>
          <target state="translated">W tym przykładzie śledzi otwartych formularzy i zamyka bieżący wątek, po zamknięciu wszystkich formularzy.</target>       </trans-unit>
        <trans-unit id="142" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.ExitThread">
          <source>The <ph id="ph1">`OnFormClosed`</ph> method is an event handler for the <ph id="ph2">&lt;xref:System.Windows.Forms.Form.Closed&gt;</ph> event.</source>
          <target state="translated"><ph id="ph1">`OnFormClosed`</ph> Metoda jest program obsługi zdarzeń dla <ph id="ph2">&lt;xref:System.Windows.Forms.Form.Closed&gt;</ph> zdarzeń.</target>       </trans-unit>
        <trans-unit id="143" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.ExitThread">
          <source>When the number of open forms is equal to 0, then current thread is exited by calling the <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.ExitThread%2A&gt;</ph> method.</source>
          <target state="translated">Jeśli liczba formularzy otwartych jest równa 0, następnie bieżący wątek jest zakończony przez wywołanie metody <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.ExitThread%2A&gt;</ph> metody.</target>       </trans-unit>
        <trans-unit id="144" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.ExitThread">
          <source>The number of forms is tracked by incrementing the <ph id="ph1">`formCount`</ph> variable when a form is shown, and decrementing it when a form is closed.</source>
          <target state="translated">Liczba formularzy jest śledzony przez zwiększenie <ph id="ph1">`formCount`</ph> zmienną, gdy formularz jest wyświetlany i zmniejszanie go po zamknięciu formularza.</target>       </trans-unit>
        <trans-unit id="145" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.ExitThread">
          <source>Some code is not shown for the purpose of brevity.</source>
          <target state="translated">Kod nie jest wyświetlana wyłącznie w celu skrócenia.</target>       </trans-unit>
        <trans-unit id="146" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.ExitThread">
          <source>See <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph> for the whole code listing.</source>
          <target state="translated">Zobacz <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph> listę całego kodu.</target>       </trans-unit>
        <trans-unit id="147" translate="yes" xml:space="preserve" uid="M:System.Windows.Forms.ApplicationContext.ExitThreadCore">
          <source>Terminates the message loop of the thread.</source>
          <target state="translated">Kończy pętlę komunikatów wątku.</target>       </trans-unit>
        <trans-unit id="148" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.ExitThreadCore">
          <source>This method is called from <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.ExitThread%2A&gt;</ph>.</source>
          <target state="translated">Ta metoda jest wywoływana z <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.ExitThread%2A&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="149" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.ExitThreadCore">
          <source><ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.ExitThread%2A&gt;</ph> and <ph id="ph2">&lt;xref:System.Windows.Forms.ApplicationContext.ExitThreadCore%2A&gt;</ph> do not actually cause the thread to terminate.</source>
          <target state="translated"><ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.ExitThread%2A&gt;</ph> i <ph id="ph2">&lt;xref:System.Windows.Forms.ApplicationContext.ExitThreadCore%2A&gt;</ph> czy rzeczywiście Przyczyna zakończenie wątku.</target>       </trans-unit>
        <trans-unit id="150" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.ExitThreadCore">
          <source>These methods raise the <ph id="ph1">&lt;xref:System.Windows.Forms.Application.ThreadExit&gt;</ph> event to which the <ph id="ph2">&lt;xref:System.Windows.Forms.Application&gt;</ph> object listens.</source>
          <target state="translated">Wywoływanie metody te <ph id="ph1">&lt;xref:System.Windows.Forms.Application.ThreadExit&gt;</ph> zdarzeń, do którego <ph id="ph2">&lt;xref:System.Windows.Forms.Application&gt;</ph> obiekt odbiera.</target>       </trans-unit>
        <trans-unit id="151" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.ExitThreadCore">
          <source>The <ph id="ph1">&lt;xref:System.Windows.Forms.Application&gt;</ph> object then terminates the thread.</source>
          <target state="translated"><ph id="ph1">&lt;xref:System.Windows.Forms.Application&gt;</ph> Obiektu następnie kończy wątku.</target>       </trans-unit>
        <trans-unit id="152" translate="yes" xml:space="preserve" uid="M:System.Windows.Forms.ApplicationContext.Finalize">
          <source>Attempts to free resources and perform other cleanup operations before the application context is reclaimed by garbage collection.</source>
          <target state="translated">Próbuje zwolnić zasoby i wykonywać inne operacje oczyszczania przed kontekst aplikacji jest odzyskana przez wyrzucanie elementów bezużytecznych.</target>       </trans-unit>
        <trans-unit id="153" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.Finalize">
          <source>This method overrides <ph id="ph1">&lt;xref:System.Object.Finalize%2A?displayProperty=nameWithType&gt;</ph> and cleans up resources by calling <ph id="ph2">`Dispose(false)`</ph>.</source>
          <target state="translated">Ta metoda zastępuje <ph id="ph1">&lt;xref:System.Object.Finalize%2A?displayProperty=nameWithType&gt;</ph> i czyści zasoby przez wywołanie metody <ph id="ph2">`Dispose(false)`</ph>.</target>       </trans-unit>
        <trans-unit id="154" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.Finalize">
          <source>Override <ph id="ph1">`Dispose(Boolean)`</ph> to customize the cleanup.</source>
          <target state="translated">Zastąpienie <ph id="ph1">`Dispose(Boolean)`</ph> dostosować czyszczenia.</target>       </trans-unit>
        <trans-unit id="155" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.Finalize">
          <source>Application code should not call this method; an object's <ph id="ph1">`Finalize`</ph> method is automatically invoked during garbage collection, unless finalization by the garbage collector has been disabled by a call to the <ph id="ph2">&lt;xref:System.GC.SuppressFinalize%2A?displayProperty=nameWithType&gt;</ph> method.</source>
          <target state="translated">Kod aplikacji nie powinny wywoływać tej metody; obiekt <ph id="ph1">`Finalize`</ph> metoda jest wywoływana automatycznie podczas wyrzucania elementów bezużytecznych, chyba że finalizacji przez moduł garbage collector została wyłączona przez wywołanie do <ph id="ph2">&lt;xref:System.GC.SuppressFinalize%2A?displayProperty=nameWithType&gt;</ph> metody.</target>       </trans-unit>
        <trans-unit id="156" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.Finalize">
          <source>For more information, see <bpt id="p1">[</bpt>Finalize Methods and Destructors<ept id="p1">](http://msdn.microsoft.com/library/fd376774-1643-499b-869e-9546a3aeea70)</ept>, <bpt id="p2">[</bpt>Cleaning Up Unmanaged Resources<ept id="p2">](~/docs/standard/garbage-collection/unmanaged.md)</ept>, and <bpt id="p3">[</bpt>Overriding the Finalize Method<ept id="p3">](http://msdn.microsoft.com/library/8026cb68-fe93-43fc-96c1-c09ad7d64cd3)</ept>.</source>
          <target state="translated">Aby uzyskać więcej informacji, zobacz <bpt id="p1">[</bpt>metody Finalize i destruktory<ept id="p1">](http://msdn.microsoft.com/library/fd376774-1643-499b-869e-9546a3aeea70)</ept>, <bpt id="p2">[</bpt>czyszczenie zasobów niezarządzanych<ept id="p2">](~/docs/standard/garbage-collection/unmanaged.md)</ept>, i <bpt id="p3">[</bpt>przesłaniania metody Finalize<ept id="p3">](http://msdn.microsoft.com/library/8026cb68-fe93-43fc-96c1-c09ad7d64cd3)</ept>.</target>       </trans-unit>
        <trans-unit id="157" translate="yes" xml:space="preserve" uid="P:System.Windows.Forms.ApplicationContext.MainForm">
          <source>Gets or sets the <ph id="ph1">&lt;see cref="T:System.Windows.Forms.Form" /&gt;</ph> to use as context.</source>
          <target state="translated">Pobiera lub ustawia <ph id="ph1">&lt;see cref="T:System.Windows.Forms.Form" /&gt;</ph> ma być używana jako kontekst.</target>       </trans-unit>
        <trans-unit id="158" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Windows.Forms.ApplicationContext.MainForm">
          <source>The <ph id="ph1">&lt;see cref="T:System.Windows.Forms.Form" /&gt;</ph> to use as context.</source>
          <target state="translated"><ph id="ph1">&lt;see cref="T:System.Windows.Forms.Form" /&gt;</ph> Ma być używana jako kontekst.</target>       </trans-unit>
        <trans-unit id="159" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Windows.Forms.ApplicationContext.MainForm">
          <source>This property determines the main <ph id="ph1">&lt;xref:System.Windows.Forms.Form&gt;</ph> for this context.</source>
          <target state="translated">Ta właściwość określa główny <ph id="ph1">&lt;xref:System.Windows.Forms.Form&gt;</ph> dla tego kontekstu.</target>       </trans-unit>
        <trans-unit id="160" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Windows.Forms.ApplicationContext.MainForm">
          <source>This property can change at any time.</source>
          <target state="translated">Tę właściwość można zmienić w dowolnym momencie.</target>       </trans-unit>
        <trans-unit id="161" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Windows.Forms.ApplicationContext.MainForm">
          <source>If <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.OnMainFormClosed%2A&gt;</ph> is not overridden, the message loop of the thread terminates when the <ph id="ph2">`mainForm`</ph> parameter closes.</source>
          <target state="translated">Jeśli <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.OnMainFormClosed%2A&gt;</ph> jest nie została zastąpiona, pętli komunikatów wątku kończy kiedy <ph id="ph2">`mainForm`</ph> zamyka parametru.</target>       </trans-unit>
        <trans-unit id="162" translate="yes" xml:space="preserve" uid="M:System.Windows.Forms.ApplicationContext.OnMainFormClosed(System.Object,System.EventArgs)">
          <source>The object that raised the event.</source>
          <target state="translated">Obiekt, który wywołał zdarzenie.</target>       </trans-unit>
        <trans-unit id="163" translate="yes" xml:space="preserve" uid="M:System.Windows.Forms.ApplicationContext.OnMainFormClosed(System.Object,System.EventArgs)">
          <source>The <ph id="ph1">&lt;see cref="T:System.EventArgs" /&gt;</ph> that contains the event data.</source>
          <target state="translated"><ph id="ph1">&lt;see cref="T:System.EventArgs" /&gt;</ph> Zawierający dane zdarzenia.</target>       </trans-unit>
        <trans-unit id="164" translate="yes" xml:space="preserve" uid="M:System.Windows.Forms.ApplicationContext.OnMainFormClosed(System.Object,System.EventArgs)">
          <source>Calls <ph id="ph1">&lt;see cref="M:System.Windows.Forms.ApplicationContext.ExitThreadCore" /&gt;</ph>, which raises the <ph id="ph2">&lt;see cref="E:System.Windows.Forms.ApplicationContext.ThreadExit" /&gt;</ph> event.</source>
          <target state="translated">Wywołania <ph id="ph1">&lt;see cref="M:System.Windows.Forms.ApplicationContext.ExitThreadCore" /&gt;</ph>, które generuje <ph id="ph2">&lt;see cref="E:System.Windows.Forms.ApplicationContext.ThreadExit" /&gt;</ph> zdarzeń.</target>       </trans-unit>
        <trans-unit id="165" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.OnMainFormClosed(System.Object,System.EventArgs)">
          <source>The default implementation of this method calls <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.ExitThreadCore%2A&gt;</ph>.</source>
          <target state="translated">Domyślna implementacja tej metody wymaga <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.ExitThreadCore%2A&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="166" translate="yes" xml:space="preserve" uid="P:System.Windows.Forms.ApplicationContext.Tag">
          <source>Gets or sets an object that contains data about the control.</source>
          <target state="translated">Pobiera lub ustawia obiekt zawierający dane dotyczące formantu.</target>       </trans-unit>
        <trans-unit id="167" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Windows.Forms.ApplicationContext.Tag">
          <source>An <ph id="ph1">&lt;see cref="T:System.Object" /&gt;</ph> that contains data about the control.</source>
          <target state="translated"><ph id="ph1">&lt;see cref="T:System.Object" /&gt;</ph> Zawierający dane dotyczące formantu.</target>       </trans-unit>
        <trans-unit id="168" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Windows.Forms.ApplicationContext.Tag">
          <source>The default is <ph id="ph1">&lt;see langword="null" /&gt;</ph>.</source>
          <target state="translated">Wartość domyślna to <ph id="ph1">&lt;see langword="null" /&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="169" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Windows.Forms.ApplicationContext.Tag">
          <source>Any type derived from the <ph id="ph1">&lt;xref:System.Object&gt;</ph> class can be assigned to this property.</source>
          <target state="translated">Typ pochodny typu <ph id="ph1">&lt;xref:System.Object&gt;</ph> klasy można przypisać do tej właściwości.</target>       </trans-unit>
        <trans-unit id="170" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Windows.Forms.ApplicationContext.Tag">
          <source>If the <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.Tag%2A&gt;</ph> property is set through the Windows Forms designer, only text can be assigned.</source>
          <target state="translated">Jeśli <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.Tag%2A&gt;</ph> właściwości jest ustawiana za pośrednictwem projektanta formularzy systemu Windows, można przypisać tylko tekst.</target>       </trans-unit>
        <trans-unit id="171" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Windows.Forms.ApplicationContext.Tag">
          <source>A common use for the <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.Tag%2A&gt;</ph> property is to store data that is closely associated with the control.</source>
          <target state="translated">Użycia <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.Tag%2A&gt;</ph> właściwości mają być przechowywane dane, które są ściśle związane z formantem.</target>       </trans-unit>
        <trans-unit id="172" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Windows.Forms.ApplicationContext.Tag">
          <source>For example, if you have a control that displays information about a customer, you might store a <ph id="ph1">&lt;xref:System.Data.DataSet&gt;</ph> that contains the customer's order history in that control's <ph id="ph2">&lt;xref:System.Windows.Forms.ApplicationContext.Tag%2A&gt;</ph> property so the data can be accessed quickly.</source>
          <target state="translated">Na przykład, jeśli formant, który zawiera informacje o kliencie, może przechowywać <ph id="ph1">&lt;xref:System.Data.DataSet&gt;</ph> zawierający historii zamówień klienta, w tym formancie <ph id="ph2">&lt;xref:System.Windows.Forms.ApplicationContext.Tag%2A&gt;</ph> właściwości, więc dane mogą szybko uzyskiwać.</target>       </trans-unit>
        <trans-unit id="173" translate="yes" xml:space="preserve" uid="E:System.Windows.Forms.ApplicationContext.ThreadExit">
          <source>Occurs when the message loop of the thread should be terminated, by calling <ph id="ph1">&lt;see cref="M:System.Windows.Forms.ApplicationContext.ExitThread" /&gt;</ph>.</source>
          <target state="translated">Występuje, gdy pętli komunikatów wątku powinno zostać zakończone, wywołując <ph id="ph1">&lt;see cref="M:System.Windows.Forms.ApplicationContext.ExitThread" /&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="174" translate="yes" xml:space="preserve" extradata="MT" uid="E:System.Windows.Forms.ApplicationContext.ThreadExit">
          <source>The following code example demonstrates the use of this member.</source>
          <target state="translated">Poniższy przykład kodu pokazuje użycie tego elementu członkowskiego.</target>       </trans-unit>
        <trans-unit id="175" translate="yes" xml:space="preserve" extradata="MT" uid="E:System.Windows.Forms.ApplicationContext.ThreadExit">
          <source>In the example, an event handler reports on the occurrence of the <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.ThreadExit&gt;</ph> event.</source>
          <target state="translated">W tym przykładzie program obsługi zdarzeń raportów w przypadku wystąpienia <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.ThreadExit&gt;</ph> zdarzeń.</target>       </trans-unit>
        <trans-unit id="176" translate="yes" xml:space="preserve" extradata="MT" uid="E:System.Windows.Forms.ApplicationContext.ThreadExit">
          <source>This report helps you to learn when the event occurs and can assist you in debugging.</source>
          <target state="translated">Ten raport pomaga, aby dowiedzieć się, gdy zdarzenie występuje i mogą pomóc w debugowaniu.</target>       </trans-unit>
        <trans-unit id="177" translate="yes" xml:space="preserve" extradata="MT" uid="E:System.Windows.Forms.ApplicationContext.ThreadExit">
          <source>To report on multiple events or on events that occur frequently, consider replacing <ph id="ph1">&lt;xref:System.Windows.Forms.MessageBox.Show%2A?displayProperty=nameWithType&gt;</ph> with <ph id="ph2">&lt;xref:System.Console.WriteLine%2A?displayProperty=nameWithType&gt;</ph> or appending the message to a multiline <ph id="ph3">&lt;xref:System.Windows.Forms.TextBox&gt;</ph>.</source>
          <target state="translated">Aby raport wiele zdarzeń lub zdarzeń, które występuje często, rozważ zastąpienie <ph id="ph1">&lt;xref:System.Windows.Forms.MessageBox.Show%2A?displayProperty=nameWithType&gt;</ph> z <ph id="ph2">&lt;xref:System.Console.WriteLine%2A?displayProperty=nameWithType&gt;</ph> lub dołączanie wiadomości w wielowierszowym <ph id="ph3">&lt;xref:System.Windows.Forms.TextBox&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="178" translate="yes" xml:space="preserve" extradata="MT" uid="E:System.Windows.Forms.ApplicationContext.ThreadExit">
          <source>To run the example code, paste it into a project that contains an instance of type <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph> named <ph id="ph2">`ApplicationContext1`</ph>.</source>
          <target state="translated">Aby uruchomić przykładowy kod, wklej go do projektu, który zawiera wystąpienie typu <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph> o nazwie <ph id="ph2">`ApplicationContext1`</ph>.</target>       </trans-unit>
        <trans-unit id="179" translate="yes" xml:space="preserve" extradata="MT" uid="E:System.Windows.Forms.ApplicationContext.ThreadExit">
          <source>Then ensure that the event handler is associated with the <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.ThreadExit&gt;</ph> event.</source>
          <target state="translated">Następnie upewnij się, że program obsługi zdarzeń jest skojarzony z <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.ThreadExit&gt;</ph> zdarzeń.</target>       </trans-unit>
      </group>
    </body>
  </file>
</xliff>